* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: auto;
  margin-top: 28px;
  display: grid;
  place-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.todo {
  width: clamp(50%, 400px, 100%);
}

.header-text {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 50px;
}

.tab-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  width: 100%;
  border-bottom: 1px solid rgb(206, 205, 205);
}

.tab-list li {
  appearance: none;
  text-align: center;
  flex: 1 1 85px;
  max-width: 85px;
  margin: 5px;
  margin-bottom: 0px;
  background-color: inherit;
}

.tab-list button {
  border: none;
  width: auto;
  height: auto;
  background-color: inherit;
}

.tab-list li:not(.active-panel):hover {
  border-bottom: 4px solid #1a181850;
}
.active-panel {
  border-bottom: 4px solid #65afeb;
}

.tab-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  height: auto;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.search-form input {
  width: 65%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: #d6d6d6 solid 1px;
}

.search-form input::placeholder {
  font-size: 14px;
}

.search-form button {
  background-color: #3e90d3;
  width: 25%;
  border-radius: 12px;
  border: none;
  outline: #d6d6d6 solid 1px;
  color: white;
  font-size: 17px;
}

.tab-panel .tab-item-list {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.tab-item-list span {
  margin-top: 20px;
}

.tab-item-list span input {
  display: inline-flex;
  margin-right: 10px;
}

/* Login Page */

.login {
  width: clamp(50%, 400px, 100%);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.login-form > * {
  margin-bottom: 20px;
}

.login-form div {
  width: 100%;
}

.login-form label {
  margin-right: 20px;
}

.login-form input {
  height: auto;
  width: 65%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  outline: #d6d6d6 solid 1px;
}

.login-form input::placeholder {
  font-size: 14px;
}

.login-form button {
  background-color: #3e90d3;
  width: 25%;
  display: inline-block;
  height: 60px;
  border-radius: 12px;
  border: none;
  outline: #d6d6d6 solid 1px;
  color: white;
  font-size: 17px;
}
